body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #00ffff;
}

.elevator-container {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px; /* Ajustar el ancho */
    height: 350px; /* Ajustar la altura */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinear hacia abajo */
}

.screen {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Separar la pantalla de los botones */
}

.floor-display {
    color: #0f0;
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre botones */
    justify-items: center; /* Centrar los botones en sus columnas */
    margin-top: auto; /* Empujar los botones hacia abajo */
}

.button {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 50%; /* Hacer los botones circulares */
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Ajustar el tamaño del botón */
    height: 60px; /* Ajustar el tamaño del botón */
}

.button:hover {
    background-color: #0c2e0849;
}

.arrow-button {
    font-size: 24px; 
}